body{
    background-image: url(https://i.postimg.cc/fRcfwzGS/guitar-seamless-pattern-vector-bass-260nw-1251407284.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}


span:hover{
    color: #f9004d;
}

table{
    box-shadow: none;
    border: #000 solid;
    margin: 5rem;  
}

tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 tr:nth-child(even),table.list thread> tr{
    background-color: beige;
}

input[type= "text"], input[type = "number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px #000 solid;
    border-radius: 4px;
}
input[type= "submit"], input[type = "reset"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
} 



