html{
    scroll-behavior: smooth;
}
#featured-container{
    border-bottom: #000 solid;
}
#logo{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

#navbar{
   position:sticky
}



.img-fluid{
    margin-top: 5rem;
}

#featured-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:5rem;
    border-top: #000 solid;
    background-color: black;
}

.location a{
    text-decoration: none;
    text-decoration-color: black;
}