#logo{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

#navbar{

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#img{
    width: 100%;
}

